@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Set Epilogue as the default font for body */
body {
    @apply font-epilogue;
}

.active hr{
    @apply block
}

@layer components{
    .primary-btn{
        @apply bg-primary text-white py-3 px-8 rounded-md hover:scale-110 duration-100
    }

}

@layer utilities{
    .drop-shadow{
        filter: drop-shadow(-6px 8px 15px rgba(0,0,0,0.4));
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    
}
